.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: blue;
  color: white;
  padding-bottom: "50";
  border-top: "1px solid #ddd";
  height: "60px";
  line-height: "60px";
}
